*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

.t-white{
    color: white;
}

.t-black{
    color: black;
}

.d-flex{
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-center{
    justify-content: center;
}

.justify-content-space-around{
    justify-content: space-around;
}

.justify-content-space-between{
    justify-content: space-between;
}

.justify-content-space-evenly{
    justify-content: space-evenly;
}

.nav-bg{
    height: 38px;
    width: auto;
    background-color: #FF4D29;
}

.fa-envelope{
    height: 16px;
    width: 16px;
    margin-top: 10px;
}

.mail-id p{
    margin-top: 8px;
    margin-left: 8px;
    font-size: 16px;
    font-family: 'Barlow',sans-serif;
}

.fa-phone{
    margin-top: 10px;
    margin-left: 20px;
}

.phone-number{
    margin-top: 10px;
    margin-left: 8px;
    font-size: 16px;
    font-family: 'Barlow',sans-serif;
}

.social-media{
    margin-left: 650px;
    padding-left: 25px;
    color: black;
}

.social-media i{
    padding-left: 20px;
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.nav-bar-bg-color{
    height: 74px;
    width: auto;
    background-color: whitesmoke;
    position: sticky;
}

.sticky{
    position: fixed;
    background-color: #FFFFFF;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
}

.logo a{
    text-decoration: none;
    font-size: 28px;
    font-family: 'Barlow',sans-serif;
    color: #000000E6;
    padding-top: 20px;
    font-weight: bold;
}

.dot{
    margin-top: 10px;
    font-size: 40px;
    color: #FF4D29;
}

.nav-bar{
    margin-left: 450px;
}

.nav-bar li a{
    display: block;
    font-size: 16px;
    font-family: 'Barlow',sans-serif;
    padding-left: 20px;
    margin-top: 5px;
    font-weight: normal;
}

.nav-bar li a:hover{
    color: #FF4D29;
}

button{
    margin-top: 20px;
    height: 41px;
    width: 109px;
    margin-left: 30px;
    background-color:#FF4D29;
    border: none;
    border-radius: 5px;
}

.Contact:hover{
    filter:brightness(80%);
}

.Contact a{
    font-size: 16px;
    font-family: 'Barlow',sans-serif;
    color: white;
    font-weight: normal;
}

.nav-bar :nth-child(8){
    margin-left: 30px;
}

.togle{
    display: none;
}

.background-image{
    /* background-image: url(../image/bg_banner2.jpg); */
    background:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../image/bg_banner2.jpg);
    height: 641px;
    margin-top: 1px;
    background-size:cover;
    background-position: center;
}

.heading  p{
    font-size: 16px;
    font-family: 'Barlow',sans-serif;
    margin-top: 200px;
    margin-left: 450px;
}

.background-image span{
    display: block;
    font-size: 64px;
    font-family: 'Barlow',sans-serif;
    margin-top: 20px;
    margin-left: 50px;
    color: white;
    font-weight: bold;
    text-align: center;
}

.Get-Started{
    height: 41px;
    width: 133px;
    margin-left: 440px;
}

.Get-Started:hover{
    filter: brightness(80%);
}

.Get-Started a{
    text-decoration: none;
    font-size: 16px;
    font-family: 'Barlow',sans-serif;
}

.Our-Work a{
    text-decoration: none;
    font-size: 16px;
    font-family: 'Barlow',sans-serif;
    color: white;
}

.Our-Work{
    height: 41px;
    width: 114px;
    background-color: transparent;
    border: 1px solid white;
}

.Our-Work:hover {
    background-color: white;
}

.Our-Work a:hover{
    color: black;
}

.fa-jet-fighter-up{
    cursor: pointer;
    font-size: 45px;
    position: absolute;

    color: #FF4D29;}

.backToTop{
    background-color:unset;
    position: fixed;
    left: 1350px;
    top:500px;
    display: none;
}

.cursor {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 1px solid black;
    transition: all 200ms ease-out;
    position: fixed;
    pointer-events: none;
    left: 0;
    top: 0;
    transform: translate(calc(-50% + 15px), -50%);
  }
  
  .cursor2 {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: black;
    opacity: .3;
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: width .3s, height .3s, opacity .3s;
  }
  
  .hover {
    background-color: red;
    opacity: 0.5;
  }
  
  .cursorinnerhover {
    width: 50px;
    height: 50px;
    opacity: .5;
  }

.about img{
    float: right;
    margin-top: 48px;
}

.about .digital-marketing-image{
    float: left;
    margin-top: 50px;
}

.digital-marketing-image p{
    margin-left: 20px;
    margin-top: 50px;
    font-size: 20px;
    font-family: 'Barlow',sans-serif;
    font-weight: bold;
}

.digital-marketing-image span{
    display: block;
    width: 420px;
    margin-left: 20px;
    margin-top: 10px;
    line-height: 25px;
    font-size: 16px;
    font-family: 'Barlow',sans-serif;
    color: #516171;
}

.about .E-mail-marketing-image ,.Buisness-marketing-image{
    float: left;
}

.E-mail-marketing-image p ,.Buisness-marketing-image p{
    margin-left: 20px;
    margin-top: 50px;
    font-size: 20px;
    font-family: 'Barlow',sans-serif;
    font-weight: bold;
}

.E-mail-marketing-image span ,.Buisness-marketing-image span{
    display: block;
    width: 420px;
    margin-left: 20px;
    margin-top: 10px;
    line-height: 25px;
    font-size: 16px;
    font-family: 'Barlow',sans-serif;
    color: #516171;
}

.counter-background-image {
    background: linear-gradient(rgba(255, 77, 41, 0.85), rgba(255, 77, 41, 0.85)), url(../image/bg_banner1.jpg);
    height: 263px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 680px;
}

.happy-client p span{
    font-size: 65px;
    font-family: 'Barlow',sans-serif;
    margin-left: 130px;
}

.happy-client p{
    display: block;
    color: white;
    font-size: 65px;
    font-family: 'Barlow',sans-serif;
    padding-top: 120px;
    font-weight: bold;
}

.happy-client h3{
    display: flex;
    font-size: 16px;
    font-family: 'Barlow',sans-serif;
    margin-left: 130px;
}

.Lines-of-code p{
    font-size: 56px;
    font-family: 'Barlow',sans-serif;
    padding-top: 120px;
    font-weight: bold;
    margin-left: 140px;
}

.Lines-of-code span{
    font-size: 56px;
    font-family: 'Barlow',sans-serif;
    padding-top: 120px;
    font-weight: bold;
}

.Lines-of-code h3{
    font-size: 16px;
    font-family: 'Barlow',sans-serif;
    margin-left: 10px;
    margin-left: 150px;
}

.Total-Downloads p{
    font-size: 56px;
    font-family: 'Barlow',sans-serif;
    padding-top: 120px;
    font-weight: bold;
    margin-left: 160px;
}

.Total-Downloads span{
    font-size: 16px;
    font-family: 'Barlow',sans-serif;
    margin-left: 10px;
    margin-left: 150px;
}

.YouTube-Subscribers p{
    font-size: 56px;
    font-family: 'Barlow',sans-serif;
    padding-top: 120px;
    font-weight: bold;
    margin-left: 160px;
}

.YouTube-Subscribers span{
    font-size: 56px;
    font-family: 'Barlow',sans-serif;
    padding-top: 120px;
    font-weight: bold;
}

.YouTube-Subscribers h3{
    font-size: 16px;
    font-family: 'Barlow',sans-serif;
    margin-left: 10px;
    margin-left: 150px;
}

.our-services p{
    margin-left: 550px;
    margin-top: 100px;
    color: #FF4D29;
    font-size: 16px;
    font-family: 'Barlow',sans-serif;
}

.our-services span{
    display: block;
    margin-left: 500px;
    font-size: 40px;
    font-family: 'Barlow',sans-serif;
    margin-top: 20px;
}

.our-services h4{
    display: block;
    width: 530px;
    text-align: center;
    margin-left: 350px;
    margin-top: 20px;
    font-size: 16px;
    font-family: 'Barlow',sans-serif;
    font-weight: normal;
    color: #516171;
    line-height: 25px;
}

.background-color-white{
    height: 290px;
    width: 415px;
    background-color: whitesmoke;
    margin-top: 40px;
}

.Digital-Marketing img{
    margin-top: 50px;
    margin-left: 150px;
}

.Digital-Marketing p{
    margin-left: 130px;
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Barlow',sans-serif;
    font-weight: bold;
}

.Digital-Marketing span{
    display: block;
    width: 360px;
    padding-left: 30px;
    margin-right: 30px;
    margin-top: 15px;
    line-height: 25px;
    text-align: center;
    font-size: 16px;
    font-family: 'Barlow',sans-serif;
    color: #516171;
}

.background-color-white-Logo-Designing{
    height: 290px;  
    width: 415px;
    background-color: whitesmoke;
    margin-left: 40px;
    margin-top: 50px;
}

.Logo-Designing img{
    margin-top: 30px;
    margin-left: 150px;
}

.Logo-Designing p{
    margin-top: 20px;
    margin-left: 130px;
    font-size: 20px;
    font-family: 'Baarlow',sans-serif;
    font-weight: bold;
}

.Logo-Designing span{
    display: block;
    width: 360px;
    padding-left: 30px;
    margin-right: 30px;
    margin-top: 15px;
    line-height: 25px;
    font-size: 16px;
    text-align: center;
    font-family: 'Barlow',sans-serif;
    color: #516171;
}

.background-color-white-Buisness-consulting{
    height: 290px;  
    width: 415px;
    background-color: whitesmoke;
    margin-left: 15px;
    margin-top: 50px;
}

.Buisness-consulting img{
    margin-top: 30px;
    margin-left: 150px;
}

.Buisness-consulting p{
    margin-top: 20px;
    margin-left: 130px;
    font-size: 20px;
    font-family: 'Baarlow',sans-serif;
    font-weight: bold;
}

.Buisness-consulting span{
    display: block;
    width: 360px;
    padding-left: 30px;
    margin-right: 30px;
    margin-top: 15px;
    line-height: 25px;
    font-size: 16px;
    text-align: center;
    font-family: 'Barlow',sans-serif;
    color: #516171;
}


.work p{
    margin-top: 150px;
    margin-left:600px;
    font-size: 16px;
    font-family: 'Barlow',sans-serif;
    color: #FF4D29;
}

.work span{
    display: block;
    font-size: 40px;
    font-family: 'Barlow',sans-serif;
    color: #092032;
    margin-top: 100px;
    margin-left: 435px;
    font-weight: bold;
}

.work h4{
    display: block;
    width: 520px;
    font-size: 16px;
    font-family: 'Barlow',sans-serif;
    margin-top:20px;
    margin-left: 400px;
    font-weight: normal;
    text-align: center;
    color: #516171;
    line-height: 30px;
}

.work-image img{
    margin-top: 50px;
    position: relative;
    height: 496px;
    width: 755px;
}

.work-image p{
    position: absolute;
    top: 680px;
    left:100px;
    font-size: 32px;    
    font-family: 'Barlow',sans-serif;
}

.work-image .lining::before{
        content: " ";
        height: 2px;
        width: 30px;
        display: inline-block;
        background: #ff4d29;
        margin-right: 10px;
        position: absolute;
        top: 738px;
        left: 70px;
}

.work-image h4{
    position: absolute;
    top: 730px;
    left: 105px;
    font-size: 16px;
    font-family: 'Barlow',sans-serif;
    font-weight: normal;
}

.Team p{
    margin-top: 150px;
    margin-left: 500px;
    font-size: 16px;
    font-family: 'Barlow',sans-serif;
    color: #FF4D29;
}

.Team span{
    display: block;
    margin-left: 390px;
    font-size: 40px;
    font-family: 'Barlow',sans-serif;
    font-weight: bold;
    margin-top: 20px;
}

.Team h4{
    max-width: 515px;
    color:#516171;
    margin-left: 280px;
    margin-top: 20px;
    line-height: 24px;
    text-align: center;
    font-family: 'Barlow',sans-serif;
    font-weight: normal;
}

.Marvin-McKinney img{
    margin-top: 25px;
    position: relative;
}

.Marvin-McKinney p{
    margin-top: 10px;
    margin-left: 145px;
    font-size: 20px;
    font-family: 'Barlow',sans-serif;
    color: #092032;
    font-weight: bold;
}

.Marvin-McKinney span{
    display: block;
    font-size: 16px;
    font-family: 'Barlow',sans-serif;
    color: #516171;
    margin-left: 145px;
    margin-top: 10px;
    word-spacing: 3px;
}

.Kathryn-Murphy img{
    margin-left: 20px;
    margin-top: 25px;
}

.Kathryn-Murphy p{
    margin-top: 10px;
    margin-left: 145px;
    font-size: 20px;
    font-family: 'Barlow',sans-serif;
    color: #092032;
    font-weight: bold;
}

.Kathryn-Murphy span{
    display: block;
    font-size: 16px;
    font-family: 'Barlow',sans-serif;
    color: #516171;
    margin-left: 145px;
    margin-top: 10px;
    word-spacing: 3px;
}

.Darrell-Steward img{
    margin-left: 20px;
    margin-top: 25px;
}

.Darrell-Steward p{
    margin-top: 10px;
    margin-left: 145px;
    font-size: 20px;
    font-family: 'Barlow',sans-serif;
    color: #092032;
    font-weight: bold;
}

.Darrell-Steward span{
    display: block;
    font-size: 16px;
    font-family: 'Barlow',sans-serif;
    color: #516171;
    margin-left: 145px;
    margin-top: 10px;
    word-spacing: 3px;
}

.review-background-image{
    background: linear-gradient(-90deg, rgba(8, 32, 50, 0.8), rgba(8, 32, 50, 0.8)), url(../image/bg_banner1.jpg), #082032;
    height: 539px;
    width: 1519px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 110px;
}

.Review img{
    height: 80px;
    width: 80px;
    border-radius: 100%;
    margin-left: 500px;
    margin-top: 150px;
}

.Review p{
    margin-top: 20px;
    margin-left: 470px;
    font-size: 20px;
    font-family: 'Barlow',sans-serif;
    font-weight: bold;
}

.Review span{
    display: block;
    margin-top: 10px;
    margin-left: 450px;
    font-size: 14px;
    font-family: 'Barlow',sans-serif;
    color: #FF4D29;
}

.Review h4{
    display: block;
    width:850px;
    font-size: 22px;
    font-family: 'Barlow',sans-serif;
    margin-left: 200px;
    margin-top: 50px;
    line-height: 40px;
}

.star{
    margin-left: 530px;
    margin-top: 20px;
    font-size: 12px;
    color:#FF4D29;
}

.blog p{
    margin-top: 80px;
    font-size: 16px;
    font-family: 'Barlow',sans-serif;
    color: #FF4D29;
    margin-left: 580px;
}

.blog span{
    display: block;
    font-size: 40px;
    font-family: 'Barlow',sans-serif;
    color: #092032;
    margin-left: 500px;
    margin-top: 15px;
    font-weight: bold;
}

.blog h4{
    display: block;
    color: #516171;
    font-size: 16px;
    font-family: 'Barlow',sans-serif;
    width:560px;
    margin-top: 20px;
    text-align: center;
    margin-left: 300px;
    line-height: 25px;
}

.web-design-box {
    height:510px;
    width:440px;
    background-color:whitesmoke;
    box-shadow: 2px 5px 5px white;
    margin-top: 30px;
}

.web-design-box img{
    position: absolute;
}

.web-design-btn{
    position: relative;
    top: 5px;
    height: 31px;
    width: 106px;
    border-radius: 20px;
}

.web-design-btn a{
    text-decoration: none;
    font-size: 16px;
    font-family: 'Barlow',sans-serif;
}

.web-design-heading a{
    display: block;
    margin-top: 260px;
    margin-left: 40px;
    font-size: 14px;
    font-family: 'Barlow',sans-serif;
    color: #FF4D29;
    font-size:normal;
}

.web-design-heading span{
    display: block;
    margin-top: 20px;
    margin-left: 40px;
    font-size: 20px;
    font-family: 'Barlow',sans-serif;
    font-weight:bold;
    color: #092032;
}

.web-design-heading h4{
    display: block;
    width:350px;
    font-size: 16px;
    font-family: 'Barlow',sans-serif;
    font-weight:normal;
    color: #516171;
    margin-top: 15px;
    margin-left:40px;
    line-height: 24px;
}

.Programming-box {
    height:510px;
    width:440px;
    background-color:whitesmoke;
    box-shadow: 2px 5px 5px white;
    margin-left: 20px;
    margin-top: 30px;
}

.Programming-box img{
    position: absolute;
}

.Programming-btn{
    position: relative;
    top: 5px;
    height: 31px;
    width: 106px;
    border-radius: 20px;
}

.Programming-btn a{
    text-decoration: none;
    font-size: 16px;
    font-family: 'Barlow',sans-serif;
}

.Programming-heading a{
    display: block;
    margin-top: 260px;
    margin-left: 40px;
    font-size: 14px;
    font-family: 'Barlow',sans-serif;
    color: #FF4D29;
    font-size:normal;
}

.Programming-heading span{
    display: block;
    margin-top: 20px;
    margin-left: 40px;
    font-size: 20px;
    font-family: 'Barlow',sans-serif;
    font-weight:bold;
    color: #092032;
}

.Programming-heading h4{
    display: block;
    width:350px;
    font-size: 16px;
    font-family: 'Barlow',sans-serif;
    font-weight:normal;
    color: #516171;
    margin-top: 15px;
    margin-left:40px;
    line-height: 24px;
}

.Marketing-box {
    height:510px;
    width:440px;
    background-color:whitesmoke;
    box-shadow: 2px 5px 5px white;
    margin-left: 20px;
    margin-top: 30px;
}

.Marketing-box img{
    position: absolute;
}

.Marketing-btn{
    position: relative;
    top: 5px;
    height: 31px;
    width: 106px;
    border-radius: 20px;
}

.Marketing-btn a{
    text-decoration: none;
    font-size: 16px;
    font-family: 'Barlow',sans-serif;
}

.Marketing-heading a{
    display: block;
    margin-top: 260px;
    margin-left: 40px;
    font-size: 14px;
    font-family: 'Barlow',sans-serif;
    color: #FF4D29;
    font-size:normal;
}

.Marketing-heading span{
    display: block;
    margin-top: 20px;
    margin-left: 40px;
    font-size: 20px;
    font-family: 'Barlow',sans-serif;
    font-weight:bold;
    color: #092032;
}

.Marketing-heading h4{
    display: block;
    width:350px;
    font-size: 16px;
    font-family: 'Barlow',sans-serif;
    font-weight:normal;
    color: #516171;
    margin-top: 15px;
    margin-left:40px;
    line-height: 24px;
}

.footer-background-image{
    background: linear-gradient(-90deg, rgba(8, 32, 50, 0.8), rgba(8, 32, 50, 0.8)), url(../image/bg_banner1.jpg), #082032;
    height: 539px;
    width: 1519px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 110px;
}

.logo-2 {
    display: flex;
    padding-top: 120px;
    justify-content: center;
}

.logo-2 a{
    color: white;
}

.Footer-heading{
    margin-top: 20px;
    font-size:16px;
    color: #ADB3B9;
    font-family: 'Barlow',sans-serif;
    width: 650px;
    text-align: center;
    margin-left: 250px;
    line-height: 28px;
}

.social-media-accounts{
    margin-top: 20px;
}


.social-media-accounts i{
    font-size: 28px;
    padding-left: 28px;
}

.privacy{
    margin-top: 22px;
}

.privacy a{
    padding-left: 25px;
    color: white;
    font-weight: normal;
}

.copy-right{
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 20px;
    /* padding-top: 150px; */
    margin-top: 90px;
}

.copy-right p{
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    font-family: 'Barlow',sans-serif;
    color: #ADB3B9;
}

.copy-right span{
    display: block;
    font-size: 16px;
    font-family: 'Barlow',sans-serif;
    text-align: center;
    margin-top: 15px;
    color: #516171;
}

.swiper {
    width: 100%;
    height: 100%;
    position: relative;
      height: 100%;
      /* background: #eee; */
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }































































